<% if (post.source_text || post.source_link || post.source_author_text || post.source_author_link){ %>
    <div>
        <% if (post.source_text || post.source_link){ %>
            <i class="icon icon-map-marker"></i>
            原文出处 -
            <% if (post.source_text && !post.source_link){ %>
                <!-- text only -->
                <%- post.source_text %>
            <% } else if (!post.source_text && post.source_link){ %>
                <!-- link only -->
                <a href="<%- post.source_link %>"><%- post.source_link %></a>
            <% } else { %>
                <!-- both -->
                <a href="<%- post.source_link %>"><%- post.source_text %></a>
            <% } %>
        <% } %>
    </div>
    <div>
        <% if (post.source_author_text || post.source_author_link){ %>
            <i class="icon icon-users"></i>
            原文作者 -
            <% if (post.source_author_text && !post.source_author_link){ %>
                <%- post.source_author_text %>
            <% } else if (!post.source_author_text && post.source_author_link){ %>
                <a href="<%- post.source_author_link %>"><%- post.source_author_link %></a>
            <% } else { %>
                <a href="<%- post.source_author_link %>"><%- post.source_author_text %></a>
            <% } %>
        <% } %>
    </div>
<% } %>
